<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicio</title>
    <div th:insert="fragments/general.html :: headerfiles"></div>
</head>

<body>

    <nav th:insert="fragments/general.html :: navbar"></nav>

    <div id="phaser-example"></div>

    <div th:insert="fragments/general.html :: scripts"></div>
    <script th:src="@{/js/phaser.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>

</body>

</html>