<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ranking</title>
    <div th:insert="fragments/general.html :: headerfiles"></div>
</head>

<body>

    <nav th:insert="fragments/general.html :: navbar" />

    <div>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Puntuación</th>
                    <th scope="col">Fecha</th>
                </tr>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>
    </div>

    <div th:insert="fragments/general.html :: scripts"></div>

    <script>
        $(document).ready(function() {

            // Realiza una petición para llenar la tabla del ranking
            $.ajax({
                url: '/puntuaciones/top',
                method: 'GET',
                success: function (res) {

                    res.forEach((puntuacion, i) => {

                        let tableRow = `
                            <tr>
                                <td>${i + 1}</td>
                                <td>
                                    <a href="/perfil/${puntuacion.username}">${puntuacion.username}</a>
                                </td>
                                <td>${puntuacion.email}</td>
                                <td>${puntuacion.score}</td>
                                <td>${puntuacion.eventDate}</td>
                            </tr>
                        `;

                        $('#tableBody').append(tableRow);
                        console.log(puntuacion);
                    });
                },
                error: function (err) {
                    console.error(err);
                    alert('Hubo un error al solicitar los datos');
                }
            })
        })
    </script>

</body>

</html>