<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ranking</title>
    <div th:insert="fragments/general.html :: headerfiles"></div>
</head>

<body>

    <nav th:insert="fragments/general.html :: navbar" />

    <center>
        <div id="form">
            <input type="text">
        </div>
    </center>

    <div th:insert="fragments/general.html :: scripts"></div>
</body>

</html>