<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registro</title>

    <div th:insert="fragments/general.html :: headerfiles"></div>
</head>

<body>
    <div class="container" >
        <br><br><br><br>
        <h1>Registro: </h1>
        <br><br><br><br>
        <form onsubmit="registrarUsuario()">
            <div class="form-group mb-3">
                <label class="form-label" for="username">Username</label>
                <input type="text" class="form-control" id="username"
                    placeholder="Escriba el nombre de usuario">
            </div>
            <div class="form-group mb-3">
                <label class="form-label" for="email">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                    placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group mb-3">
                <label class="form-label" for="password">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="form-group mb-3">
                <label class="form-label" for="passwordConfirm">Password confirmation</label>
                <input type="password" class="form-control" id="passwordConfirm" />
            </div>
            <br><br><br><br>
            <button type="submit" class="btn btn-primary">Registrar</button>
            ¿Ya estas registrado? <a th:href="@{/login}">Iniciar sesión</a>
        </form>
    </div>
    <br><br><br><br><br><br><br><br>
    
    <div th:insert="fragments/general.html :: scripts"></div>

    <script>
        function registrarUsuario() {
            let data = {
                username: $('#username').val(),
                password: $('#password').val(),
                email: $('#email').val()
            };

            console.log(data);

            $.ajax({
                url: '/usuarios',
                method: 'POST',
                data: JSON.stringify(data),
                success: function (res) {
                    console.log(res);
                },
                error: function (err) {
                    console.error(err);
                    alert(err.msg);
                }
            });
        }
    </script>

</body>

</html>