<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registro</title>

    <div th:insert="fragments/general.html :: headerfiles"></div>
</head>

<body>

    <nav th:insert="fragments/general.html :: navbar"></nav>

    <div id="form">
        <input type="text">
    </div>

    <div th:insert="fragments/general.html :: scripts"></div>

    <script>
        function registrarUsuario() {
            let data = {
                username: username,
                password: password,
                email: email
            };

            $.ajax({
                url: '/usuarios',
                method: 'POST',
                data: JSON.stringify(data),
                success: function(res) {
                    console.log(res);
                },
                error: function(err) {
                    console.error(err);
                    alert(err.msg);
                }
            });
        }
    </script>

</body>

</html>